/* .grid {
    border: 2px solid black;
} */

.row {
    height: 150px;
}

.cell {
    height: 150px;
    width: 150px;
    display: inline-block;
}

.testCell {
    border: 2px dotted red;
}

.clickedCell {
    background: orange;
}